[submodule "src/ext/scripts"]
	path = src/ext/scripts
	url = git@github.com:heimdallr/scripts.git
[submodule "src/ext/foundation"]
	path = src/ext/foundation
	url = git@github.com:heimdallr/books-fnd.git
[submodule "src/ext/MyHomeLib"]
	path = src/ext/MyHomeLib
	url = git@github.com:heimdallr/MyHomeLib.git
