[submodule "src/ext/scripts"]
	path = src/ext/scripts
	url = git@github.com:heimdallr/scripts.git
[submodule "src/ext/foundation"]
	path = src/ext/foundation
	url = git@github.com:heimdallr/books-fnd.git
[submodule "src/ext/MyHomeLib"]
	path = src/ext/MyHomeLib
	url = git@github.com:heimdallr/MyHomeLib.git
[submodule "src/ext/sqlite/sqlite"]
	path = src/ext/sqlite/sqlite
	url = git@github.com:heimdallr/sqlite3.git
[submodule "src/ext/sqlite/sqlite3pp"]
	path = src/ext/sqlite/sqlite3pp
	url = git@github.com:heimdallr/sqlite3pp.git
[submodule "src/ext/Hypodermic"]
	path = src/ext/Hypodermic
	url = git@github.com:heimdallr/Hypodermic.git
